%vertical-center {
	display: flex;
	flex-direction: column;
	align-items: center;
}

%vertical-start {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

%vertical-end {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

%horizontal-center {
	display: flex;
	flex-direction: row;
	align-items: center;
}

%horizontal-start {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}

%horizontal-end {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}