@import 'scaffolding/utilities';
@import 'scaffolding/type';
@import 'scaffolding/colors';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.hidden {
	display: none;
}
